<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}<!-- Add block info here -->{% endblock %}
    <title>Vikit penetration System</title>
    <script type=text/javascript src="{{ url_for('static', filename='jquery.min.js') }}"></script>
</head>

<body>

<p>Vikit penetration System</p>

{% block mods %}{% endblock %}
{% block mod_help %}{% endblock %}
{% block mod_params_form %}{% endblock %}
{% block result %}{% endblock %}

</body>

</html>
