<div id="modules">
    <ul id="modules_ul"></ul>
</div>
<button id="start">start</button>

<script type="text/javascript">

     function ajax_get_mods() {
        $.ajax(
            {
                url: "{{ url_for('get_available_module') }}",
                success: function (result) {
                    //add li to ul
                    show_modules(result);
                },
                error:function () {
                    alert('ajax request error');
                }

            }
        )
    }

    function show_modules(result) {
        var mod_list = jQuery.parseJSON(result)
        //delete the old li
        $("#modules_ul").empty();
        //add new li (need to be handle later)
        for (var i = 0; i < mod_list.length; i++) {
            $("#modules_ul").append('<li>' + mod_list[i] + '</li>')
        }
    }

    function ajax_start_proxy(){
         $.ajax(
            {
                url: "{{ url_for('start') }}",
                success: function (result) {
                    //add li to ul
                    if(result == 'success')
                        return 'success';
                    else
                        return 'failed';
                },
                error:function () {
                    alert('ajax start request error');
                }

            }
        )
    }

    var interval_id
    $("#start").click(function () {
            if ($(this).text() == 'start') {
                //start the proxy
                if (ajax_start_proxy()=='success')
                {
                    ajax_get_mods();
                    //set interval
                    interval_id= setInterval("ajax_get_mods()", 3000);
                    //set text to stop
                    $(this).text('stop');
                }
                else{
                    alert('start proxy failed');
                }
            }
            else {
                //clear interval
                clearInterval(interval_id)
                $(this).text('start');
            }
        }
    );

</script>
