{% if selected_module%}
<form action="submit_task" method="post" name="post_params">
    <p>module:<input type="text" name="module" value="{{ selected_module }}" /></p>
    <p>Target: <input type="text" name="target" /></p>
    <p>payload: <input type="text" name="payload" /></p>
    <p>config: <input type="text" name="config" /></p>
    <p>config format: param1:str1,param2:str2</p>
    <p>offline:<input type="text" name="offline" value="1"/></p>
    <input type="submit" value="Submit Task" />
</form>
{% else %}
    <p>no module selected</p>
{% endif %}
