<button id="start" class="button button-action button-pill" style="display: block; margin-left: 40%; margin-top: -20%;">start</button>
<div id="modules" style="margin-top: 15px;">
    <ul id="modules_ul">
    </ul>

</div>


<script type="text/javascript">

     function ajax_get_mods() {
        $.ajax(
            {
                url: "{{ url_for('get_available_module') }}",
                success: function (result) {
                    //add li to ul
                    show_modules(result);
                },
                error:function () {
                    alert('ajax request error');
                }

            }
        )
    }

    function show_modules(result) {
        var mod_list = jQuery.parseJSON(result)
        //delete the old li
        $("#modules_ul").empty();
        //add new li (need to be handle later)
        for (var i = 0; i < mod_list.length; i++) {
            $("#modules_ul").append('<li class='+mod_list[i]+'><a href="javascript:void"> <span>'+mod_list[i]+'</span><div class="clearfix"></div></a></li>');
        }
    }

    var state='offline';

    function ajax_start_proxy(){
         $.ajax(
            {
                url: "{{ url_for('start') }}",
                async:false,
                success: function (result) {
                    if(result == 'success')
                        state='on';
                },
                error:function () {
                    alert('ajax start request failed');
                }

            }
        )
    }

    var interval_id;
    $("#start").click(function () {
            if ($(this).text() == 'start') {
                //start the proxy
                ajax_start_proxy();
                alert(state);
                if (state=='on')
                {
                    ajax_get_mods();
                    //set interval
                    interval_id= setInterval("ajax_get_mods()", 3000);
                    //set text to stop
                    $(this).text('stop');
                    $(this).removeClass("button-action");
                    $(this).addClass("button-caution");
                }
                else{
                    alert('start proxy failed');
                }
            }
            else {//stop option
                //clear interval
                clearInterval(interval_id)
		state='offline';
                $(this).text('start');
                $(this).removeClass("button-caution");
                $(this).addClass("button-action");
            }
        }
    );
    

    function show_help(result) {
        temp_json_obj=jQuery.parseJSON(result);
        //module_help=temp_json_obj[''];
        help_str='Author:'+temp_json_obj['AUTHOR']+'</br>'+'Demands:'+temp_json_obj['DEMANDS']+'</br>'+'Result_Description:'+temp_json_obj['RESULT_DESC']+'</br>'+'Description:'+temp_json_obj['DESCRIPTION']+'</br>';
        module_name=temp_json_obj['NAME'];
        $('#module_help_name').text(module_name);
        $('#module_help').html(help_str);
    }
    //add click event to li according their module_name and partly refresh the page of help and form
    $("#modules_ul").on('click','li',function(){
        //set help
        $.ajax(
            {
                url: "/help/"+$.trim($(this).text()),
                success: function (result) {
                    alert(result);
                    //add li to ul
                    show_help(result);
                },
                error:function () {
                    alert('ajax request error');
                }

            }
        )
        //generate a form to append after help
        $("#module_form").empty();
        form_str='<form action="/execute" method="post" name="mod_input" class="form">'+'<p><span>module:</span><input type="text" name="module" value="'+$(this).text()+'" class="input" readonly /></p>'+'<p><span>Target:</span><input type="text" name="target" class="input" placeholder="target"/></p>'+'<p><span>payload:</span><input type="text" name="payload" placeholder="payload" class="input"/></p>'+'<p><span>config:</span><input type="text" name="config" placeholder="config" class="input"/></p>'+'<p style="color:#444">config format: {"param1":"str1","param2":"str2"}</p>'+'<p><span>offline:</span><input type="text" name="offline" value="1" class="input"/></p>'+'<input type="submit" value="Submit" class="submit button button-raised button-primary button-pill"/>';
        $("#module_form").append(form_str);

    });                                                                                                                                                                          </script>
